<div class="fly-panel">
  <h3 class="fly-panel-title">代码仓库</h3>
  <ul class="fly-panel-main fly-list-static">
    <li>
      <a href="http://fly.layui.com/jie/4281/" target="_blank"
        >layui 的 GitHub 及 Gitee (码云) 仓库，欢迎Star</a
      >
    </li>
  </ul>
</div>

<dl class="fly-panel fly-list-one">
  <dt class="fly-panel-title">热议</dt>
  <dd>
    <a href="jie/detail.html">基于 layui 的极简社区页面模版</a>
    <span><i class="iconfont icon-pinglun1"></i> 16</span>
  </dd>
</dl>

<div class="fly-panel fly-link">
  <h3 class="fly-panel-title">友情链接</h3>
</div>
