<div class="fly-footer">
	<p>
		<a href="http://fly.layui.com/" target="_blank">Wang.Blog</a> 2019 &copy; <a href="http://www.layui.com/" target="_blank">wpl.wiki
		</a>
	</p>
</div>
<script>
	layui.use(["jquery", "element"], function() {
		var element = layui.element;
		var $ = layui.jquery;
		element.init();
	});
</script>
</body>
</html>
