<%- include('header') %>
<div class="layui-container">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md8">
			<%- include('components/left') %>
		</div>
		<div class="layui-col-md4">
			<%- include('components/right') %>
		</div>
	</div>
</div>
<%- include('footer') %>
