<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Wang.Blog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="keywords" content="wpl,wpl.wiki" />
		<meta name="description" content="wangpengliang个人笔记" />
		<link rel="stylesheet" href="/layui/css/layui.css" />
		<link rel="stylesheet" href="/css/global.css" />
		<script src="/layui/layui.js"></script>
		<script src="art-template.js"></script>
	</head>
	{{ block 'head' }}
	<!-- 样式坑 -->
	{{ /block }}
	</head>
	<body>
		<!-- 公共头部 -->
		{{ include './header.html' }}

		{{ block 'content' }}
		<!-- 内容坑 -->
		{{ /block }}

		<!-- 公共底部 -->
		{{ include './footer.html' }}

		{{ block 'script' }}
		<!-- 脚本坑 -->
		{{ /block }}
	</body>
</html>
